<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
   <h1 class="header center blue-text text-darken-2">Organise a Local Angel's Community</h1>
   <div class="row center">
     <h5 class="header col s12 light">Help support friends, family or locals who plan on being well again</h5>
   </div>

  <!-- button section -->
   <div class="row">
     <div class="col s12 m4">
       <div class="icon-block">
         <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
         <h5 class="center">I need Help</h5>
       </div>
     </div>

     <div class="col s12 m4">
       <div class="icon-block">
         <h2 class="center brown-text"><i class="material-icons">group</i></h2>
         <h5 class="center">I want to help</h5>
       </div>
     </div>

     <div class="col s12 m4">
       <div class="icon-block">
         <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
         <h5 class="center">Provide Local Services</h5>
       </div>
     </div>
   </div>

  </div>
  <div class="parallax"><img src="http://placehold.it/400x150"></div>
</div>

<!--   About Us   -->
<div class="container">
  <div class="row">
    <div class="col s12 center" id="about-us">
      <h4>About Us</h4>
      <hp class="center-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
    </div>
  </div>
</div>

<!--   parallex image with quote   -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="row">
      <h5 class="center-align">“No one has ever become poor by giving.”</h5>
      <p>― Anne Frank</p>
    </div>
    <div class="parallax"><img src="http://placehold.it/400x150"></div>
  </div>
</div>

<!--   How it Works   -->
<div class="container">
  <div class="row">
    <div class="col s12 center" id="how-it-works">
      <h4>How it Works</h4>
      <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
    </div>
  </div>
</div>

<!--   another parallex image with quote   -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="row">
      <div class="col s12 center">
      <h5 class="center-align">“When we give cheerfully and accept gratefully, everyone is blessed.”</h5>
      <p>― Maya Angelou</p>
      </div>
    </div>
  <div class="parallax"><img src="http://placehold.it/400x150"></div>
  </div>
</div>

<!--   How it Works   -->
<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h4>Reach out for help.</h4>
      <h4>Or tell us how we can help.</h4>
      <div class="row center">
      <a href="/contacts/new" id="download-button" class="btn-large waves-effect waves-light indigo accent-2">Get in Touch</a>
      </div>
    </div>
  </div>
</div>

<div class="#3d5afe indigo accent-3">
  <div class="container">
    @Local Angels
  </div>
</div>
